@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "Fontspring";
	src: url("./assets/fonts/Grotesklylig.otf"),
		url("./assets/fonts/Grotesklymed.otf")
			format("opentype");
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}
@keyframes AnimationName {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(0, 51, 12, 0.452) 0%, #0cd0ac55 100%);
  filter: blur(123px);
  background-size: 400% 400%;

  -webkit-animation: blueanimation 13s ease infinite;
  animation: blueanimation 13s ease infinite;
}
@-webkit-keyframes blueanimation {
  0%{background-position:1% 0%}
  50%{background-position:99% 100%}
  100%{background-position:1% 0%}
}
@keyframes blueanimation {
  0%{background-position:1% 0%}
  50%{background-position:99% 100%}
  100%{background-position:1% 0%}
}

.purple__gradient{
  background: linear-gradient(90deg, #ffafd0c1 0%, #ff84b773 100%);
  filter: blur(280px);
  background-size: 400% 400%;
  -webkit-animation: purpleanimation 5s ease infinite;
  animation: purpleanimation 5s ease infinite;
  transition: all;
  transition-duration: 2s;
}
@-webkit-keyframes purpleanimation {
  0%{background-position:0% 66%}
  50%{background-position:100% 35%}
  100%{background-position:0% 66%}
}
@keyframes purpleanimation {
  0%{background-position:0% 66%}
  50%{background-position:100% 35%}
  100%{background-position:0% 66%}
}
.white__gradient {
  background: rgba(0, 0, 0, 0.6);
  filter: blur(750px);
}